body {
    padding-top: 60px;
    font-family: 'Playfair Display', serif;
}
hr {
    margin-top: 0;
    margin-bottom: 1rem;
}
p {
    margin-bottom: 0.5rem;
}
b {
    color: #000;
}
h5 {
    font-size: 1.1rem;
}
img.display{
    height: 160px;
    width: 160px;
    filter: grayscale(100%);
    border-radius: 50%;
}
.section{
    min-height: 100vh;
    margin-top: 1em;
}
.section .section-heading h2{
}
.section-heading {

}
#summary{
    font-style: italic;
    color: gray;
    font-size: 1rem;
    text-align: center;
}
.img-icon{
    height: 100px;
    width: 100px;
}
.c-img-holder{
    margin: auto 0;
}
.navbar{
    font-weight: bold;
}
.navbar-dark .navbar-nav .nav-link.btn-download{
    font-weight: bold;
    padding-right: .5rem;
    padding-left: .5rem;
    color: #fff;
}
.navbar-dark .navbar-nav .nav-link.btn-download:hover{
    color: #000;
    background: #2fb45a;
}
#loader {
    position: absolute;
    left: 50%;
    top: 50%;
    z-index: 1;
    margin: -35px 0 0 -140px;
}
.content-title{
    margin-top: .5rem;
    font-weight: 600;
    font-size: 1.3rem;
}
.content-org{
    font-weight: 600;
    color: gray;
}
.duration{
    font-weight: 600;
}
.profile{
   color: #000;
}
#contact-form-submit{
    font-weight: 600;
    background: rgba(52, 58, 64, 0.16);
    color: #fff;
    opacity: 0.5;
}
#contact-form-submit:hover{
    opacity: 1;
}
.error{
    color: red;
}
.external-link{
    color: #343a40;
    font-size: 1em;
    vertical-align: middle;
}
#about {
    margin-top: 0;
}
.section {
    box-shadow: 1px 1px 10px 1px rgba(52, 58, 64, 0.16);
    padding: 15px;
    margin-top: 20px;
}