<div class="row section-heading">
    <div class="col">
        <h2>Education</h2>
        <hr>
    </div>
</div>
<div class="row" >
    <div class="col-sm-3 col-md-2 col-lg-2" align="center">
        <img class="img-icon" src="/static/img/jss.jpg"  alt="JSS">
    </div>
    <div class="col-sm-9 col-md-8 col-lg-8  ">
        <h4 class="content-title">B.Tech Computer Science</h4>
        <h5 class="content-org">JSS Academy of Technical Education, Noida</h5>
        <p class="mb-1 duration">2016 - 2020</p>
        <p class="mb-4">Current Percentage: <em>79%</em></p>
    </div>
</div>
<div class="row" >
    <div class="col-sm-3 col-md-2 col-lg-2" align="center">
        <img class="img-icon" src="/static/img/cms.png" alt="CMS">
    </div>
    <div class="col-sm-9 col-md-8 col-lg-8  ">
        <h4 class="content-title">12<sup>th</sup></h4>
        <h5 class="content-org">City Montessori School, Lucknow</h5>
        <p class="mb-1 duration">2015</p>
        <p class="mb-4">Percentage: <em>91%</em></p>
    </div>
</div>
<div class="row" >
    <div class="col-sm-3 col-md-2 col-lg-2" align="center">
        <img class="img-icon" src="/static/img/cms.png" alt="CMS">
    </div>
    <div class="col-sm-9 col-md-8 col-lg-8  ">
        <h4 class="content-title">10<sup>th</sup></h4>
        <h5 class="content-org">City Montessori School, Lucknow</h5>
        <p class="mb-1 duration">2015</p>
        <p class="mb-4">Percentage: <em>88%</em></p>
    </div>
</div>