<div class="row section-heading" >
    <div class="col">
        <h2>Experience</h2>
        <hr>
    </div>
</div>
<div class="row" >
    <div class="col-sm-3 col-md-2 col-lg-2 c-img-holder" align="center">
        <img class="img-icon" src="/static/img/amazon.png" alt="Amazon">
    </div>
    <div class="col-sm-9 col-md-8 col-lg-8">
        <h4 class="content-title">SDE Intern</h4>
        <h5 class="content-org">Amazon Development Centre (India) Pvt. Ltd., Bangalore</h5>
        <p class="mb-1 duration">January 2020 - Present</p>
        <div>
            <ul>
                <li>Working with Amazon Pay engineering team in travel and entertainment categories.</li>
            </ul>
        </div>
    </div>
</div>
<div class="row" >
    <div class="col-sm-3 col-md-2 col-lg-2 c-img-holder" align="center">
        <img class="img-icon" src="/static/img/siemens.png" alt="Siemens">
    </div>
    <div class="col-sm-9 col-md-8 col-lg-8">
        <h4 class="content-title">Intern</h4>
        <h5 class="content-org">Siemens Technology and Services Pvt. Ltd., Noida</h5>
        <p class="mb-1 duration">August 2019 - October 2019</p>
        <div>
            <ul>
                <li>Developed a confluence plugin for partially automating stage gate management.</li>
            </ul>
        </div>
    </div>
</div>
<div class="row" >
    <div class="col-sm-3 col-md-2 col-lg-2 c-img-holder" align="center">
        <img class="img-icon" src="/static/img/criodo.png" alt="Crio.Do">
    </div>
    <div class="col-sm-9 col-md-8 col-lg-8">
        <h4 class="content-title">Student Developer CSoD '19</h4>
        <h5 class="content-org">Crio.Do, Bangalore</h5>
        <p class="mb-1 duration">May 2019 – June 2019</p>
        <div>
            <ul>
                <li>Crio Summer of Doing is a 4 week online micro-experience.</li>
                <li>Developed a scalable distributed backend system for a food ordering app.</li>
                <li>Developed orders section for the app with additional features to rate, re-order and cancel orders for the capstone project.</li>
                <li>Secured 2<sup>nd</sup> position in the capstone team project.</li>
                <li>Performance Summary
                    <a href="https://criodo.github.io/csod-2019-atishaya11" title="Performance Summary" target="_blank">
                        <i class="fa fa-lg fa-external-link external-link"></i>
                    </a>
                </li>
            </ul>
        </div>
    </div>
</div>
<div class="row" >
    <div class="col-sm-3 col-md-2 col-lg-2 c-img-holder" align="center">
        <img class="img-icon" src="/static/img/edcams.png" alt="Edcams">
    </div>
    <div class="col-sm-9 col-md-8 col-lg-8">
        <h4 class="content-title">Web Development Intern</h4>
        <h5 class="content-org">Edcams Technologies Pvt. Ltd., Noida</h5>
        <p class="mb-1 duration">August 2017 – March 2018</p>
        <div>
            <ul>
                <li>Interacted with various academies and coaches to summarize their requirements.</li>
                <li>Developed an ‘Academy’ module aimed to connect students and coaches from different genres of interest like Sports, Music, etc.</li>
            </ul>
        </div>
    </div>
</div>
<div class="row" >
    <div class="col-sm-3 col-md-2 col-lg-2 c-img-holder" align="center">
        <img class="img-icon" src="/static/img/dsc.png" alt="DSC">
    </div>
    <div class="col-sm-9 col-md-8 col-lg-8">
        <h4 class="content-title">Student Developer</h4>
        <h5 class="content-org">Developer Student Clubs (formerly Google Developers Group), JSSATE Noida</h5>
        <p class="mb-1 duration">February 2017 - March 2019</p>
        <div>
            <ul>
                <li>Developed a platform to conduct ‘Code in Less’ competition in the annual college fest.</li>
                <li>Conducted workshops on topics like competitive programming, git, etc.</li>
                <li>Part of planning and organizing team for GDG Devfest 2017.</li>
            </ul>
        </div>
    </div>
</div>
<div class="row" >
    <div class="col-sm-3 col-md-2 col-lg-2 c-img-holder" align="center">
        <img class="img-icon" src="/static/img/csi.png" alt="CSI">
    </div>
    <div class="col-sm-9 col-md-8 col-lg-8">
        <h4 class="content-title">Student Coordinator</h4>
        <h5 class="content-org">Computer Society of India, JSSATE Noida</h5>
        <p class="mb-1 duration">February 2017 - Present</p>
        <div>
            <ul>
                <li>Planned and organised a coding competition ‘Coding is Divertido’ for students of numerous colleges.</li>
            </ul>
        </div>
    </div>
</div>
<div class="row" >
    <div class="col-sm-3 col-md-2 col-lg-2 c-img-holder" align="center">
        <img class="img-icon" src="/static/img/sih.png" alt="SIH">
    </div>
    <div class="col-sm-9 col-md-8 col-lg-8 ">
        <h4 class="content-title">Team Leader</h4>
        <h5 class="content-org">Team ByteForce, Smart India Hackathon 2018 - Final Round</h5>
        <p class="mb-1 duration">March 2018</p>
        <div>
            <ul>
                <li>Worked on a problem statement ‘Common Platform for Vehicle Registration’ given by the Ministry of Urban Development, Government of India.</li>
            </ul>
        </div>
    </div>
</div>