<div class="row section-heading">
    <div class="col">
        <h2>Projects</h2>
        <hr>
    </div>
</div>
<div class="row" >
    <div class="col">
        <h3 class="content-title">Line Up</h3>
        <p class="mb-1 content-org"><b>Technologies used:</b> Spring boot, MySQL</p>
        <p class="mb-1 duration">March 2019</p>
        <div>
            <ul>
                <li>Developed REST APIs for the mobile application of an event, Line Up.</li>
                <li>The users’ location was periodically updated on the server through the mobile application and the distance was calculated for all the nearest participants.</li>
                <li>
                    <b>Link:</b> <a class="" href="https://github.com/atishaya11/line-up-server" title="Github" target="Github"><strong><i class="fa fa-lg fa-github-square profile"></i></strong></a>
                </li>
            </ul>
        </div>
    </div>
</div>

<div class="row" >
    <div class="col">
        <h3 class="content-title">JSS Code</h3>
        <p class="mb-1 content-org"><b>Technologies used:</b> Spring boot, Thymeleaf, Hibernate, MySQL, HTML, CSS, jQuery, RabbitMQ, Docker, Amazon S3, Maven</p>
        <p class="mb-1 duration">December 2018 - February 2019</p>
        <div>
            <ul>
                <li>A platform developed to host programming contests.</li>
                <li>The project has two main modules - judge-api which judges the submission and coding-platform.</li>
                <li>Both the modules communicate using the REST APIs.</li>
                <li>Users with Admin Role can create problems and contests with customized judging.</li>
                <li>Registered users can participate in the contest, submit solutions to the problems and get real time judgement for their submissions.</li>
                <li>Used Docker for creating multiple isolated environments to run the user’s submissions for various supported languages like Java, C++, Python, Go, etc.</li>
                <li>Used RabbitMQ to queue the submissions. Executors fetch submissions from RabbitMQ to run them in the respective docker container.</li>
                <li>The test-cases for the problems and source code, output and error streams of the submissions are stored on Amazon S3.</li>
            </ul>
        </div>
    </div>
</div>
<div class="row" >
    <div class="col">
        <h3 class="content-title">Academy Module</h3>
        <p class="mb-1 content-org"><b>Technologies used:</b> Struts 2, Spring, Tiles, Hibernate, MySQL, HTML, CSS, jQuery, Apache Lucene</p>
        <p class="mb-1 duration">August 2017 – March 2018</p>
        <div>
            <ul>
                <li>Used wire framing tools like Balsamiq and Mockflow.</li>
                <li>Developed a web application for students, coaches and academies to interact.</li>
                <li>Developed the API of academy module for the Android Application of Edcams.</li>
                <li>Used Apache Lucene for implementing search functionality on the platform.</li>
                <li>Also used Heap for analyzing User Interaction on Edcams platform.</li>
            </ul>
        </div>
    </div>
</div>
<div class="row" >
    <div class="col">
        <h3 class="content-title">Code in Less</h3>
        <p class="mb-1 content-org"><b>Technologies used:</b> Spring, JSP, Hibernate, MySQL, HTML, CSS, jQuery</p>
        <p class="mb-1 duration">February 2018 – March 2018</p>
        <div>
            <ul>
                <li>Developed a platform to host ‘Code in Less’ competition.</li>
                <li>The platform judges submissions on the basis of correctness and the number of characters used to write the code.</li>
                <li>Used Sphere Engine’s Compilers API for execution of the submission.</li>
            </ul>
        </div>
    </div>
</div>