<div class="row section-heading">
    <div class="col">
        <h2>Skills</h2>
        <hr>
    </div>
</div>
<p><b>Programming Languages: </b></p>
<div class="row">
    <div class="col-lg-3 col-md-3 col-6 mt-4">
        <div class="text-center ">
            <img class="img-icon" src="/static/img/java.png" alt="Java"/>
            <p class="font-weight-bold">Java</p>
        </div>
    </div>
</div>
<p><b>Database: </b></p>
<div class="row">
    <div class="col-lg-3 col-md-3 col-6 mt-4">
        <div class="text-center ">
            <img class="img-icon" src="/static/img/mysql.png" alt="MySQL"/>
            <p class="font-weight-bold">MySQL</p>
        </div>
    </div>
</div>
<p><b>Web Frameworks: </b></p>
<div class="row">
    <div class="col-lg-3 col-md-3 col-6 mt-4">
        <div class="text-center ">
            <img class="img-icon" src="/static/img/spring.png" alt="Spring"/>
            <p class="font-weight-bold">Spring</p>
        </div>
    </div>
    <div  class="col-lg-3 col-md-3 col-6 mt-4">
        <div class="text-center ">
            <img class="img-icon" src="/static/img/struts2.png" alt="Struts 2"/>
            <p class="font-weight-bold">Struts 2</p>
        </div>
    </div>
</div>
<p><b>Others: </b></p>
<div class="row">
    <div class="col-lg-3 col-md-3 col-6 mt-4">
        <div class="text-center ">
            <img class="img-icon" src="/static/img/spring-boot.png" alt="Spring Boot"/>
            <p class="font-weight-bold">Spring Boot</p>
        </div>
    </div>
    <div  class="col-lg-3 col-md-3 col-6 mt-4">
        <div class="text-center ">
            <img class="img-icon" src="/static/img/docker.png" alt="Docker"/>
            <p class="font-weight-bold">Docker</p>
        </div>
    </div>
    <div  class="col-lg-3 col-md-3 col-6 mt-4">
        <div class="text-center ">
            <img class="img-icon" src="/static/img/maven.png" alt="Maven"/>
            <p class="font-weight-bold">Maven</p>
        </div>
    </div>
    <div  class="col-lg-3 col-md-3 col-6 mt-4">
        <div class="text-center ">
            <img class="img-icon" src="/static/img/rabbitmq.png" alt="Rabbit MQ"/>
            <p class="font-weight-bold">Rabbit MQ</p>
        </div>
    </div>
</div>
