<div class="row section-heading">
    <div class="col">
        <h2>Skills</h2>
        <hr>
    </div>
</div>
<div class="row">
    <div class="col">
        <div class="row">
            <div class="col"><p><b>Programming Languages: </b></p></div>
            <div class="col"><p>Java, Python, C</p></div>
        </div>
    </div>
</div>
<div class="row">
    <div class="col">
        <div class="row">
            <div class="col"><p><b>Database: </b></p></div>
            <div class="col"><p>MySQL</p></div>
        </div>
    </div>
</div>
<div class="row">
    <div class="col">
        <div class="row">
            <div class="col"><p><b>Web Frameworks: </b></p></div>
            <div class="col"><p>Spring MVC, Struts 2</p></div>
        </div>
    </div>
</div>
<!--
<div class="row">
    <div class="card-deck">
        <div class="col-lg-4 col-md-6 col-sm-12">
            <div class="card h-100">
                <img class="img-icon" src="/static/img/spring-boot.png" alt=""/>
            </div>
        </div>
        <div  class="col-lg-4 col-md-6 col-sm-12">
            <div class="card h-100">
                <img class="img-icon" src="/static/img/docker.png" alt=""/>
            </div>
        </div>
        <div  class="col-lg-4 col-md-6 col-sm-12">
            <div class="card h-100">
                <img class="img-icon" src="/static/img/maven.png" alt=""/>
            </div>
        </div>
    </div>
</div>-->
